.env
**/.env
venv/**
src/bases/**
dados/**
dados/**
dist/**
icon/**
build/**
**/*.log
**/*.log.*
**/*.spec
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env**