#total-atendimentos .total-atd {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #515162;
  border-radius: var(--default-radius);
  padding: 8px 32px;
  cursor: pointer;
}

#total-atendimentos .titulo {
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
}

#total-atendimentos .info {
  cursor: pointer;
}

#total-atendimentos .separador {
  width: 36px;
  height: 2px;
  background-color: white;
  opacity: 1;
}

#total-atendimentos .total-trimestre {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

#total-atendimentos .total-atd-container {
  flex-direction: column;
}

.titulo {
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
}

.info {
  cursor: pointer;
}

.separador {
  width: 36px;
  height: 2px;
  background-color: white;
  opacity: 1;
}

.total-trimestre {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.total-atd-container {
  flex-direction: column;
}
