.pie {
  display: flex;
  flex-direction: column;
  align-items: start !important;
  width: 126px;

  .porcentagem {
    margin-top: 0.5rem;
    font-size: 1.8rem !important;
    font-weight: 700;
    color: #343131;
  }

  .nomeGrafico {
    font-size: 1.2rem !important;
    font-weight: 500;
    text-align: center;
  }
}

.pie-chart {
  display: flex;
  flex-direction: column;
  align-items: start !important;
  width: 126px;

  .porcentagem {
    margin-top: 0.5rem;
    font-size: 1.8rem !important;
    font-weight: 700;
    color: #343131;
  }

  .nomeGrafico {
    font-size: 1.2rem !important;
    font-weight: 500;
    text-align: center;
  }
}
