RELOAD_BASE_SCHELDULE='4:00'
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''
DB_DATABASE=''
CIDADE_IBGE=
ESTADO=''
ADMIN_USERNAME=''
ADMIN_PASSWORD=''
POPULATION=20.000
SECRET_TOKEN=111111111111111111111
PASSWORD_SALT='painel'
BRIDGE_LOGIN_URL='https://dev.pec.bridge.ufsc.br/api/graphql'
ENV=linux