@import "./_exports.module.scss";
.is-row {
  width: 100%;
  display: flex;
  flex-direction: row;

  > div {
    display: grid;
    width: 100%;
  }

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
  }
}
