.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  font-size: 80%;
  color: var(--gray-200);

  .legend-icons {
    display: flex;
    flex-direction: row;

    p {
      padding-left: 15px;
    }

    span {
      float: inline-start;
      margin-right: 5px;
    }
  }
}

.iconCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0.8rem;
}

.iconHeader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.headerZone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  margin: 3px;
}

[data-name="nome"] {
  span {
    margin-top: 5px;
  }
}

.iconRural {
  background-color: #84aaff;
}

.iconUrbano {
  background-color: #0069d0;
}

.iconAlerta {
  background-color: #d01e29;
  ;
}
