@import "./_exports.module.scss";
.container-escolher {
  
  .container-icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 200px;

    img {
      padding-bottom: 20px;
    }

    .icone-equipe {
      width: 110px;

      @media (max-width: 767px) {
        margin-top: 20px;
      }
    }

    .icone-ubs {
      width: 88px;
    }

    .icone-municipio {
      width: 115px;
    }
  }

  button {
    min-width: 200px;
    width: 100%;
    padding: 6px;
  }

}

.container-entrar {
  margin-top: 100px;

  button {
    width: 90px;
    color: #ffffff;
    background-color: #343131;

    &:hover {
      background-color: #343131 !important;
      opacity: 0.8;
    }

    &:focus {
      box-shadow: 0 0 0 2px #F0F0F5, 0 0 0 4px #343131
    }

    &:active {
      box-shadow: inset 0 2px 8px 0 rgba(0, 0, 0, 0.5) !important;
    }
  }
}

